			 <?js
	     // --------------------------------------------------------------------
		   // ┌────────┐
		   // │ Topnav │
		   // └────────┘
		   // ↳ http://esri.github.io/calcite-web/patterns/#top-nav
		   // ↳ patterns → _top-nav.md
	     // --------------------------------------------------------------------
			 ?>
		  <header class="top-nav">
		    <div class="grid-container">
		      <div class="tablet-hide">
						<div class="dropdown js-dropdown left">
							<a href="#" class="js-dropdown-toggle top-nav-title" tabindex="0">ArcGIS for Developers</a>
							<nav class="dropdown-menu">
								<a href="http://www.arcgis.com" class="dropdown-link">ArcGIS Online</a>
								<a href="http://desktop.arcgis.com/" class="dropdown-link">ArcGIS for Desktop</a>
								<a href="http://server.arcgis.com/" class="dropdown-link">ArcGIS for Server</a>
								<a href="/" class="current selected dropdown-link">ArcGIS for Developers</a>
								<a href="http://solutions.arcgis.com/" class="dropdown-link">ArcGIS Solutions</a>
								<a href="https://marketplace.arcgis.com/" class="dropdown-link">ArcGIS Marketplace</a>
							</nav>
						</div>

						<nav class="top-nav-list" role="navigation" aria-labelledby="topnav">
							<a class="top-nav-link" href="/features/">Features</a>
							<a class="top-nav-link hide-if-logged-in" href="/plans/">Plans</a>
							<a class="top-nav-link" href="/documentation/">Documentation</a>
							<a class="top-nav-link" href="/community/">Community</a>
						</nav>
					</div>

		      <div class="tablet-show">
		        <a href="#" class="js-drawer-toggle top-nav-title top-nav-title-tablet" data-drawer="top-nav">☰ ArcGIS API for JavaScript Beta</a>
		      </div>

		      <div class="site-search right phone-hide">
		        <form class="site-search-form" method="GET" action="/search">
		          <span class="site-search-toggle icon-search"></span>
		          <input class="left site-search-input" type="search" name="q" placeholder="Search">

		          <button type="submit" class="btn transparent site-search-button">Go</button>

		          <input type="hidden" name="do" value="developers">
		          <input type="hidden" name="start" value="0">
		          <input type="hidden" name="lg" value="en">
		          <input type="hidden" name="product" value="js-api-arcgis">
		        </form>
		      </div>
		    </div>
		  </header>
    <?js
    // --------------------------------------------------------------------
    // Main banner: Home, Guide, API Reference, Sample Code, Forum
    // --------------------------------------------------------------------
    ?>
    <header class="sub-nav">
      <div class="grid-container phone-hide">
        <h1 class="sub-nav-title tablet-hide"><a href="../" class="link-white">ArcGIS API for JavaScript</a></h1>
        <nav class="sub-nav-list leader-0">
          <a class="sub-nav-link" href="../">Home</a>
          <a class="sub-nav-link" href="../guide">Guide</a>
          <a class="sub-nav-link is-active" href="../api-reference">API Reference</a>
          <a class="sub-nav-link" href="../sample-code">Sample Code</a>
          <a class="sub-nav-link" href="../forum">Forum</a>
        </nav>
      </div>
    </header>
