<?js
/***
	This function converts the full path and class/module
	name into the appropriate display text for either the
	html title (FooClass or FooModule) for a given API Reference page 
	or the page banner title which says either "Class: FooClass" or 
	"Module: FooModule"
*/
function esriModuleClassDisplay(titleOrPageBanner, value){
	
	if(titleOrPageBanner.toLowerCase() == "title") {
	  /**
		* Regular expression to replace
		* Module: esri/foo/bar/ModuleName with
		* ModuleName
		*
		* Class: esri/foo/bar/ClassName with
		* ClassName
		* 
		* Regular Expression used below:
		* ([Cc]lass|[Mm]odule):\s*(\w*/){1,}
	  */
	  return value.replace(/([Cc]lass|[Mm]odule):\s*(\w*\/){1,}/gm, "");
	}
	else if (titleOrPageBanner.toLowerCase() == "pagebanner") {
	  /**
		* Regular expression to replace
		* Module: esri/foo/bar/ModuleName with
		* Module: ModuleName
		*
		* Class: esri/foo/bar/ClassName with
		* Class: ClassName
		* 
		* Regular Expression used below:
		* (\w*/){1,}
	  */
		return value.replace(/(\w*\/){1,}/gm, "");
	}
	else {
		return value;
	}
}
?>
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
	<!-- Always force latest IE rendering engine or request Chrome Frame -->
    <meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible">
    <meta name="viewport" content="width=device-width, user-scalable=no">
    <meta name="content-language" content="en">
    <?js if (env.conf.templates.site_globals.search) { ?>
    <meta name="product" content="<?js= env.conf.templates.site_globals.search.product ?>">
    <meta name="subject" content="<?js= env.conf.templates.site_globals.search.subject ?>">
    <meta name="subject_label" content="<?js= env.conf.templates.site_globals.search.subject_label ?>">
    <meta name="sub_category" content="<?js= env.conf.templates.site_globals.search.sub_category ?>">
    <meta name="sub_category_label" content="<?js= env.conf.templates.site_globals.search.sub_category_label ?>">
    <meta name="content_type_label" content="API Reference">
    <meta name="search-collection" content="<?js= env.conf.templates.site_globals.search.search_collection ?>">
    <meta name="content_type" content="API Reference">
    <meta name="version" content="<?js= env.conf.templates.site_globals.search.jsapi_version ?>">
    <meta name="search-category" content="help-api,help-api-ref">
    <meta name="last-modified" content="<?js= new Date() ?>">
    <?js } ?>	
    <?js if (env.conf.templates.meta) { ?>
    <?js if (env.conf.templates.meta.description) { ?><meta name="description" content="<?js= env.conf.templates.meta.description ?>" /><?js } ?>
    <?js if (env.conf.templates.meta.keyword) { ?>
        <meta name="keywords" content="<?js= env.conf.templates.meta.keyword ?>" />
        <meta name="keyword" content="<?js= env.conf.templates.meta.keyword ?>" />
    <?js } ?>
    <?js } ?>
    <?js if (env.conf.templates.openGraph) { ?>
    <meta property="og:title" content="<?js= env.conf.templates.openGraph.title ?>"/>
    <meta property="og:type" content="<?js= env.conf.templates.openGraph.type ?>"/>
    <meta property="og:image" content="<?js= env.conf.templates.openGraph.image ?>"/>
    <?js if (env.conf.templates.openGraph.site_name) { ?><meta property="og:site_name" content="<?js= env.conf.templates.openGraph.site_name ?>"/><?js } ?>
    <meta property="og:url" content="<?js= env.conf.templates.openGraph.url ?>"/>
    <?js } ?>

    <title><?js= ((env.conf.templates.meta && env.conf.templates.meta.title) || esriModuleClassDisplay("title", title)) ?> | API Reference | ArcGIS API for JavaScript</title>
    <!--[if lt IE 9]>
      <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <!--
    // --------------------------------------------------------------------
    // Esri stylesheet stuff
    // --------------------------------------------------------------------
    -->
    <!-- Link to favicon -->
    <link rel="shortcut icon" href="../assets/img/favicon.ico">

    <!-- stylesheets -->

    <link rel="stylesheet" href="../assets/css/default.css">
    <link rel="stylesheet" href="../assets/css/api-reference/default.css">
    <!--
    // --------------------------------------------------------------------
    // Esri stylesheet stuff
    // --------------------------------------------------------------------
    -->
    <?js if (env.conf.templates) { ?>
    <script>
    var config = <?js= JSON.stringify(env.conf.templates) ?>;
    </script>
    <?js } ?>

    <?js if (env.conf.templates.googleAnalytics) { ?>
    <script type="text/javascript">
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', config.googleAnalytics]);
      _gaq.push(['_trackPageview']);
    
      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
    </script>
    <?js } ?>
</head>
<body>

<!-- pre esri content -->
  <div class="drawer drawer-left js-drawer" data-drawer="top-nav">
    <nav class="drawer-nav">
      <aside class="side-nav">
        <h2 class="side-nav-title padding-leader-half padding-trailer-half text-large">ArcGIS for JavaScript</h2>
        <div class="panel padding-trailer-half padding-leader-half">
          <label class="trailer-0">
            <input type='search' placeholder='Search'>
          </label>
        </div>
        <a class="side-nav-link " href="../">Home</a>
        <a class="side-nav-link" href="../guide">Guide</a>
        <a class="side-nav-link" href="../api-reference">API Reference</a>
        <a class="side-nav-link" href="../sample-code">Sample Code</a>
        <a class="side-nav-link" href="https://geonet.esri.com/community/developers/web-developers/arcgis-api-for-javascript">Forum</a>
      </aside>
    </nav>
  </div>

  <div class="wrapper">


    <!-- Logged Out Pattern-->
    <header class="top-nav">
      <div class="grid-container">
        <div class="column-24">
          <div class="phone-hide">
          <div class="site-brand dropdown js-dropdown">
            <div class="js-dropdown-toggle">
              <span class="user-name">ArcGIS for Developers</span>
            </div>

            <nav class="dropdown-menu dropdown-left">
              <a href="http://www.arcgis.com" class="dropdown-link">ArcGIS Online</a>
              <a href="http://desktop.arcgis.com/" class="dropdown-link">ArcGIS for Desktop</a>
              <a href="http://server.arcgis.com/" class="dropdown-link">ArcGIS for Server</a>
              <a href="/" class="current selected dropdown-link">ArcGIS for Developers</a>
              <a href="http://solutions.arcgis.com/" class="dropdown-link">ArcGIS Solutions</a>
              <a href="https://marketplace.arcgis.com/" class="dropdown-link">ArcGIS Marketplace</a>
            </nav>
          </div>
          <nav class="site-nav">
            <ul>
             <li><a href="/features/">Features</a></li>
             <li><a class="hide-if-logged-in" href="/plans/">Plans</a></li>
             <li><a href="/documentation/">Documentation</a></li>
             <li><a href="/community/">Community</a></li>
           </ul>
          </nav>

          <div class="site-search right">
            <form class="site-search-form" method="GET" action="/search">
              <span class="site-search-toggle icon-search"></span>
              <input class="left site-search-input" type="search" name="q" placeholder="Search">

              <button type="submit" class="btn transparent site-search-button">Go</button>

              <input type="hidden" name="do" value="developers">
              <input type="hidden" name="start" value="0">
              <input type="hidden" name="lg" value="en">
              <input type="hidden" name="product" value="js-api-arcgis">
            </form>
          </div>
        </div>
        </div>
        <div class="phone-show">
          <a href="#" class="top-nav-title js-drawer-toggle" data-drawer="top-nav">☰ ArcGIS API for JavaScript</a>
        </div>

      </div>
    </header>
    <header class="sub-nav">
      <div class="grid-container phone-hide">
        <h1 class="sub-nav-title"><a href="../" class="link-white">ArcGIS API for JavaScript</a></h1>
        <nav class="sub-nav-list leader-0">
          <a class="sub-nav-link" href="../">Home</a>
          <a class="sub-nav-link" href="../guide">Guide</a>
          <a class="sub-nav-link is-active" href="../api-reference">API Reference</a>
          <a class="sub-nav-link" href="../sample-code">Sample Code</a>
          <a class="sub-nav-link" href="https://geonet.esri.com/community/developers/web-developers/arcgis-api-for-javascript">Forum</a>
        </nav>
      </div>
    </header>

    <!-- content of each page will go here -->
    <div class="grid-container leader-1">

		<!-- pre esri content -->
		  <div class="api-reference-container">
			<!-- jaguar stuff -->
			<div id="wrap" class="clearfix">
			    <div class="main">
		  			<div class="navigation-container column-6 tablet-hide">
					    <?js= this.partial('navigation.tmpl', this) ?>
		  <!--
	<div class="column-6 js-sticky scroll-show tablet-hide" data-bottom="146">
      <a href="#" class="btn btn-fill btn-clear">Back to Top</a>
    </div>
		  -->
		  			</div>
						
					<h1 class="page-title column-17 pre-1" data-filename="<?js= filename ?>"><?js= esriModuleClassDisplay("pageBanner", title) ?></h1>
			        <?js= content ?>
			    </div>
			</div>
			<!-- jaguar stuff -->
		  </div>
		<!-- post esri content -->

    </div>
  </div>


  <!-- Footer Pattern -->
    <footer class="footer leader-3">
      <div class="grid-container">
          <nav class="column-6">
            <h6>Arc<span>GIS</span></h6>
            <ul class="list-bulleted">
              <li><a href="http://www.arcgis.com/about/">Home</a></li>
              <li><a href="http://www.arcgis.com/about/features.html">Features</a></li>
              <li><a href="http://www.arcgis.com/about/pricing.html">Pricing</a></li>
            </ul>
          </nav>

          <nav class="column-6">
            <h6>Arc<span>GIS</span> for Developers</h6>
            <ul>
              <li><a href="/en/">Home</a></li>
              <li><a href="/en/features/">Features</a></li>
              <li><a href="/en/documentation/">Documentation</a></li>
              <li><a href="http://blogs.esri.com/esri/arcgis/category/developer/">Blog</a></li>
            </ul>
          </nav>

          <nav class="column-6">
            <h6>About Esri</h6>
            <ul>
              <li><a href="http://www.esri.com/about-esri/">About Us</a></li>
              <li><a href="http://www.esri.com/careers/">Careers</a></li>
              <li><a href="http://blogs.esri.com/esri/esri-insider/">Insiders Blog</a></li>
              <li><a href="http://www.esri.com/events/user-conference/index.html">User Conference</a></li>
              <li><a href="http://www.esri.com/events/devsummit/index.html">Developer Summit</a></li>
            </ul>
          </nav>

          <nav class="column-6 padding-leader-half">
            <a class="esri-logo" href="http://esri.com"></a>
            <section class="footer-social-nav">
              <a class="icon-twitter" href="https://twitter.com/Esri/">T</a>
              <a class="icon-facebook" href="https://www.facebook.com/esrigis/">F</a>
              <a class="icon-github" href="http://esri.github.com/">G</a>
              <a class="icon-email" href="http://www.esri.com/about-esri/contact/">E</a>
            </section>
          </nav>
          <div class="column-24">
            <p><small>© Copyright 2015 Environmental Systems Research Institute, Inc. | <a href="http://www.esri.com/legal/privacy">Privacy</a> | <a href="http://www.esri.com/legal/software-license">Legal</a></small></p>
          </div>
        </div>

      </div>
    </footer>

<!--
// --------------------------------------------------------------------
//
// post esri content
//
// --------------------------------------------------------------------
-->
<script src="../assets/js/libs/calcite-web.js"></script>
<script src="../assets/js/libs/all.js"></script>
<script src="../assets/js/libs/api-reference/prettify.js"></script>
<script src="../assets/js/libs/api-reference/lang-css.js"></script>
<script src="../assets/js/libs/api-reference/jquery.min.js"></script>
<script>prettyPrint();</script>
<script src="../assets/js/libs/api-reference/linenumber.js"></script>
<script src="../assets/js/libs/api-reference/main.js"></script>
</body>
</html>
