<?js
var self = this;
?>
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
	  <?js // Always force latest IE rendering engine or request Chrome Frame ?>
    <meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible">
    <meta name="viewport" content="width=device-width, user-scalable=no">
    <meta name="content-language" content="en">
    <?js if (env.conf.templates.site_globals.search) { ?>
    <meta name="product" content="<?js= env.conf.templates.site_globals.search.product ?>">
    <meta name="subject" content="<?js= env.conf.templates.site_globals.search.subject ?>">
    <meta name="subject_label" content="<?js= env.conf.templates.site_globals.search.subject_label ?>">
    <meta name="sub_category" content="<?js= env.conf.templates.site_globals.search.sub_category ?>">
    <meta name="sub_category_label" content="<?js= env.conf.templates.site_globals.search.sub_category_label ?>">
    <meta name="content_type_label" content="API Reference">
    <meta name="search-collection" content="<?js= env.conf.templates.site_globals.search.search_collection ?>">
    <meta name="content_type" content="API Reference">
    <meta name="version" content="<?js= env.conf.templates.site_globals.search.jsapi_version ?>">
    <meta name="search-category" content="help-api,help-api-ref">
    <meta name="last-modified" content="<?js= new Date() ?>">
    <?js } ?>	
    <?js if (env.conf.templates.meta) { ?>
    <?js if (env.conf.templates.meta.description) { ?><meta name="description" content="<?js= env.conf.templates.meta.description ?>" /><?js } ?>
    <?js if (env.conf.templates.meta.keyword) { ?>
        <meta name="keywords" content="<?js= env.conf.templates.meta.keyword ?>" />
        <meta name="keyword" content="<?js= env.conf.templates.meta.keyword ?>" />
    <?js } ?>
    <?js } ?>
    <?js if (env.conf.templates.openGraph) { ?>
    <meta property="og:title" content="<?js= env.conf.templates.openGraph.title ?>"/>
    <meta property="og:type" content="<?js= env.conf.templates.openGraph.type ?>"/>
    <meta property="og:image" content="<?js= env.conf.templates.openGraph.image ?>"/>
    <?js if (env.conf.templates.openGraph.site_name) { ?><meta property="og:site_name" content="<?js= env.conf.templates.openGraph.site_name ?>"/><?js } ?>
    <meta property="og:url" content="<?js= env.conf.templates.openGraph.url ?>"/>
    <?js } ?>

    <title><?js= ((env.conf.templates.meta && env.conf.templates.meta.title) || self.parseEsriAPIString("name", title)) ?> | API Reference | ArcGIS API for JavaScript</title>
    <!--[if lt IE 9]>
      <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <?js
    // --------------------------------------------------------------------
    // Esri stylesheet stuff
    // --------------------------------------------------------------------
    ?>
    <?js // Link to favicon ?>
    <link rel="shortcut icon" href="../assets/img/favicon.ico">

    <?js
    // --------------------------------------------------------------------
    // stylesheets
    // --------------------------------------------------------------------
    ?>

    <link rel="stylesheet" href="../assets/css/default.css">
    <link rel="stylesheet" href="../assets/css/api-reference/default.css">
    <?js
    // --------------------------------------------------------------------
    // Esri stylesheet stuff
    // --------------------------------------------------------------------
    ?>
    <?js if (env.conf.templates) { ?>
    <script>
    var config = <?js= JSON.stringify(env.conf.templates) ?>;
    </script>
    <?js } ?>

    <?js if (env.conf.templates.googleAnalytics) { ?>
    <script type="text/javascript">
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', config.googleAnalytics]);
      _gaq.push(['_trackPageview']);
    
      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
    </script>
    <?js } ?>
</head>
<body>
	<?js // pre esri content ?>
  <div class="wrapper">
	    <?js
	     // --------------------------------------------------------------------
	     // include partial (_developers_nav.html)
	     // --------------------------------------------------------------------
			
	     // --------------------------------------------------------------------
		   // ┌────────┐
		   // │ Topnav │
		   // └────────┘
		   // ↳ http://esri.github.io/calcite-web/patterns/#top-nav
		   // ↳ patterns → _top-nav.md
	     // --------------------------------------------------------------------
			 ?>
		  <header class="top-nav">
		    <div class="grid-container">
		      <?js
		      // --------------------------------------------------------------------
		      // Top nav header
		      // --------------------------------------------------------------------
					?>
		      <div class="tablet-hide">
		        <div class="site-brand dropdown js-dropdown">
		          <div class="js-dropdown-toggle">
		            <span class="user-name">ArcGIS for Developers</span>
		          </div>

		          <nav class="dropdown-menu dropdown-left">
		            <a href="http://www.arcgis.com" class="dropdown-link">ArcGIS Online</a>
		            <a href="http://desktop.arcgis.com/" class="dropdown-link">ArcGIS for Desktop</a>
		            <a href="http://server.arcgis.com/" class="dropdown-link">ArcGIS for Server</a>
		            <a href="/" class="current selected dropdown-link">ArcGIS for Developers</a>
		            <a href="http://solutions.arcgis.com/" class="dropdown-link">ArcGIS Solutions</a>
		            <a href="https://marketplace.arcgis.com/" class="dropdown-link">ArcGIS Marketplace</a>
		          </nav>
		        </div>
		        <nav class="site-nav">
		          <ul>
		           <li><a href="/features/">Features</a></li>
		           <li><a class="hide-if-logged-in" href="/plans/">Plans</a></li>
		           <li><a href="/documentation/">Documentation</a></li>
		           <li><a href="/community/">Community</a></li>
		         </ul>
		        </nav>
		      </div>
		      <?js
					// --------------------------------------------------------------------
		      // ┌─────────┐
		      // │ Drawers │
		      // └─────────┘
		      //  ↳ http://esri.github.io/calcite-web/patterns/#drawers
		      //  ↳ patterns → _drawers.md
		      // --------------------------------------------------------------------
					?>
		      <div class="tablet-show">
		        <a href="#" class="js-drawer-toggle top-nav-title top-nav-title-tablet" data-drawer="top-nav">☰ ArcGIS API for JavaScript Beta</a>
		      </div>

		      <?js 
		      // --------------------------------------------------------------------
		      // Search
		      // --------------------------------------------------------------------
		      ?>
		      <div class="site-search right phone-hide">
		        <form class="site-search-form" method="GET" action="/search">
		          <span class="site-search-toggle icon-search"></span>
		          <input class="left site-search-input" type="search" name="q" placeholder="Search">

		          <button type="submit" class="btn transparent site-search-button">Go</button>

		          <input type="hidden" name="do" value="developers">
		          <input type="hidden" name="start" value="0">
		          <input type="hidden" name="lg" value="en">
		          <input type="hidden" name="product" value="js-api-arcgis">
		        </form>
		      </div>
		      <?js /*
		      <div class="dropdown js-dropdown right">

		        <div class="user phone-show js-drawer-toggle" data-drawer="user-nav">
		          <img src="http://f.cl.ly/items/0S1k2j2q3k3Q0d3g2i3J/a9d.jpg" alt="Sloth Aldrin" class="user-image ">
		        </div>

		        <div class="user phone-hide js-dropdown-toggle">
		          <img src="http://f.cl.ly/items/0S1k2j2q3k3Q0d3g2i3J/a9d.jpg" alt="Sloth Aldrin" class="user-image ">
		          <span class="user-name">Sloth Aldrin</span>
		        </div>

		        <nav class="dropdown-menu dropdown-right user-nav">
		          <a href="#" class="dropdown-link">Account</a>
		          <a href="#" class="dropdown-link">Profile</a>
		          <a href="#" class="dropdown-link">Billing</a>
		          <a href="#" class="dropdown-link">Organizations</a>
		          <a href="#" class="dropdown-link">Groups</a>
		          <a href="#" class="dropdown-link">Log Out</a>
		        </nav>
		      </div>
		      */ ?>
		    </div>
		  </header>
    <?js
    // --------------------------------------------------------------------
    // Main banner: Home, Guide, API Reference, Sample Code, Forum
    // --------------------------------------------------------------------
    ?>
    <header class="sub-nav">
      <div class="grid-container phone-hide">
        <h1 class="sub-nav-title tablet-hide"><a href="../" class="link-white">ArcGIS API for JavaScript</a></h1>
        <nav class="sub-nav-list leader-0">
          <a class="sub-nav-link" href="../">Home</a>
          <a class="sub-nav-link" href="../guide">Guide</a>
          <a class="sub-nav-link is-active" href="../api-reference">API Reference</a>
          <a class="sub-nav-link" href="../sample-code">Sample Code</a>
          <a class="sub-nav-link" href="../forum">Forum</a>
        </nav>
      </div>
    </header>
    <?js
    // --------------------------------------------------------------------
    // end include partial (_developers_nav.html)
	  // --------------------------------------------------------------------
		?>
		<?js
     // --------------------------------------------------------------------
     // ┌─────────┐
     // │ Drawers │
     // └─────────┘
     // ↳ http://esri.github.io/calcite-web/patterns/#drawers
     // ↳ patterns → _drawers.md
     // --------------------------------------------------------------------
    ?>
    <div class="drawer drawer-left js-drawer" data-drawer="top-nav">
      <nav class="drawer-nav">
        <?js= this.partial('navigation-drawer.tmpl', this) ?>
      </nav>
    </div>
    

    <?js // content of each page will go here ?>
    <div class="grid-container leader-1">

		<?js // pre esri content ?>
		  <div class="api-reference-container">
			<?js // jaguar stuff ?>
			    <div class="main">
		  			<div class="navigation-container column-6 tablet-hide">
					    <?js= this.partial('navigation.tmpl', this) ?>

              <div class="column-6 js-sticky scroll-show tablet-hide" data-top="46">
                <a href="#" class="btn btn-fill btn-clear">Back to Top</a>
              </div>

		  			</div>
					<?js
					  // --------------------------------------------------------------------
			      // Interrogate the jsdoc to find out if the kind is a class, function,
			      // or module. Adjust the title accordingly.
						//
						// see templateHelper.js found in the esrijs-sdk branch of the jsdoc repo
						// for implementation details of parseEsriAPIString
			      // --------------------------------------------------------------------
					?>
          <div class="page-title column-17 tablet-column-12 pre-1 trailer-1">

            <?js if(filename === "index.html") { ?>
              <h1 class="column-17 tablet-column-12" data-filename="<?js= filename ?>"><?js= "API Reference Overview" ?></h1>
            <?js } else if(docs[0].module && docs[0].module.kind === "class") { ?>
                <h1 class="column-9 tablet-column-12" data-filename="<?js= filename ?>"><?js= "Class: " + self.parseEsriAPIString("name", title) ?></h1>
            <?js } else if(docs[0].module && docs[0].module.kind === "function") { ?>
              <h1 class="column-9 tablet-column-12" data-filename="<?js= filename ?>"><?js= "Function: " + self.parseEsriAPIString("name", title) ?></h1>
            <?js } else { ?>
              <h1 class="column-9 tablet-column-12" data-filename="<?js= filename ?>"><?js= "Object: " + self.parseEsriAPIString("name", title) ?></h1>
            <?js } ?>

            <?js
            var doc = docs[0];
            var methods = self.find({kind: 'function', memberof: title === 'Global' ? {isUndefined: true} : doc.longname});
            var members = self.find({kind: 'member', memberof: title === 'Global' ? {isUndefined: true} : doc.longname});
            var typedefs = self.find({kind: 'typedef', memberof: title === 'Global' ? {isUndefined: true} : doc.longname});
            var events = self.find({kind: 'event', memberof: title === 'Global' ? {isUndefined: true} : doc.longname});
            sectionAdded=false;
            ?>
              <div class="api-ref-quicknav column-8 tablet-column-12">
                <div class="right tablet-left phone-left">
                  <?js
                      // TODO: Use a custom tag instead of hard-coded 'has no constructor.' string
                      if (doc.kind === 'module' && doc.module && doc.comment.indexOf('has no constructor.') == -1 ) {
                          sectionAdded=true;
                  ?>
                      <a href="#constructors">Constructors</a>
                  <?js } ?>
                  <?js
                      if (methods && methods.length && methods.forEach) {
                  ?>
                      <?js if (sectionAdded) {?> | <?js } else { sectionAdded=true;} ?>
                      <a href="#methods">Methods</a>
                  <?js } ?>
                  <?js
                      if (members && members.length && members.forEach) {
                  ?>
                      <?js if (sectionAdded) {?> | <?js } else { sectionAdded=true;} ?>
                      <a href="#properties">Properties</a>
                  <?js } ?>
                  <?js
                      if (typedefs && typedefs.length && typedefs.forEach) {
                  ?>
                      <?js if (sectionAdded) {?> | <?js } else { sectionAdded=true;} ?>
                      <a href="#typedefinitions">Type definitions</a>
                  <?js } ?>
                  <?js
                      if (events && events.length && events.forEach) {
                  ?>
                      <?js if (sectionAdded) {?> | <?js } ?>
                      <a href="#events">Events</a>
                  <?js } ?>
                  </div>
              </div>
        </div>


              <?js
              // --------------------------------------------------------------------
              // Include partial (container.tmpl)
              // --------------------------------------------------------------------
              ?>
			        <?js= content ?>
			    </div>
			<?js // jaguar stuff ?>
		  </div>
		<?js // post esri content ?>

    </div>
  </div>


  <?js // Footer Pattern ?>
    <footer class="footer leader-3">
      <div class="grid-container">
          <nav class="column-6">
            <h6>Arc<span>GIS</span></h6>
            <ul class="list-bulleted">
              <li><a href="http://www.arcgis.com/about/">Home</a></li>
              <li><a href="http://www.arcgis.com/about/features.html">Features</a></li>
              <li><a href="http://www.arcgis.com/about/pricing.html">Pricing</a></li>
            </ul>
          </nav>

          <nav class="column-6">
            <h6>Arc<span>GIS</span> for Developers</h6>
            <ul>
              <li><a href="/en/">Home</a></li>
              <li><a href="/en/features/">Features</a></li>
              <li><a href="/en/documentation/">Documentation</a></li>
              <li><a href="http://blogs.esri.com/esri/arcgis/category/developer/">Blog</a></li>
            </ul>
          </nav>

          <nav class="column-6">
            <h6>About Esri</h6>
            <ul>
              <li><a href="http://www.esri.com/about-esri/">About Us</a></li>
              <li><a href="http://www.esri.com/careers/">Careers</a></li>
              <li><a href="http://blogs.esri.com/esri/esri-insider/">Insiders Blog</a></li>
              <li><a href="http://www.esri.com/events/user-conference/index.html">User Conference</a></li>
              <li><a href="http://www.esri.com/events/devsummit/index.html">Developer Summit</a></li>
            </ul>
          </nav>

					<nav class="column-6 padding-leader-half">
            <a class="esri-logo" href="http://esri.com"></a>
            <section class="footer-social-nav">
              <a class="icon-social-twitter" aria-label="Esri on Facebook" href="https://twitter.com/Esri/"></a>
              <a class="icon-social-facebook" aria-label="Esri on Twitter" href="https://www.facebook.com/esrigis/"></a>
              <a class="icon-social-github" aria-label="Esri on GitHub" href="http://esri.github.com/"></a>
              <a class="icon-social-contact" aria-label="Contact Esri" href="http://www.esri.com/about-esri/contact/"></a>
            </section>
          </nav>
          <div class="column-24">
            <p><small>Copyright &copy; 2015 Esri. All rights reserved. | <a href="http://www.esri.com/legal/privacy">Privacy</a> | <a href="http://www.esri.com/legal">Legal</a></small></p>
          </div>
        </div>

      </div>
    </footer>

<?js
// --------------------------------------------------------------------
// post esri content
// --------------------------------------------------------------------
?>
<script src="../assets/js/libs/calcite-web.js"></script>
<script src="../assets/js/libs/all.js"></script>
<script src="../assets/js/libs/api-reference/prettify.js"></script>
<script src="../assets/js/libs/api-reference/lang-css.js"></script>
<script src="../assets/js/libs/api-reference/jquery.min.js"></script>
<script>prettyPrint();</script>
<script src="../assets/js/libs/api-reference/linenumber.js"></script>
<script src="../assets/js/libs/api-reference/main.js"></script>
</body>
</html>
